@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>!RECRUITMENT!</h1>
    <p class="lead">Modernising IT Recruitment one hire at a time.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>What we do</h2>
        <p>
            We try to get the best IT professionals and the best employers together quickly and efficiently. To do this, we use sophisticated algorithms
        </p>
    </div>
    <div class="col-md-6">
        <p>
            !IMAGE!
        </p>

    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <p>
            !IMAGE!
        </p>

    </div>
    <div class="col-md-6">
        <h2>Who we are</h2>
        <p>
            We are a group of IT professionals who feel we can make recruitment better, faster, and easier for everyone involved. With sophisticated algorithms,
            we can match employers and employees quicker and better than anyone else. Allowing IT professionals and companies to build good relationships quickly.
        </p>
        <p>
            We also believe that everyone can be amazing. Which is why we take the personal details out of the equation. No names, genders, or races. 
            Allowing the best employees to get a fair and equal match with the best employers. The only thing that matters is your skill.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>For Candidates</h2>
        <h3>Simply fill in your details once, do some basic tests to show your experience, and start receiving offers.</h3>
        <p>Here at !RECRUITMENT! we make it as easy as possible for potential candidates to find good, meaningful, and lasting employment opportunities. </p>
        <p>
            Any offers that come to you will include all the details of the employment opportunity upfront. Allowing you to know exactly what you will be doing and what you will be getting in return. 
            We believe this will help create lasting and open employments. 
        </p>
        <p>
            Found a job? Great! If you want to stop receiving possible offers, simply log in, and disable your profile. If in the future you are looking again, simply sign back in and enable your profile
            again and start receiving offers.
        </p>
        <p>
            Worried that someone from your current company might notice you looking for other opportunities? Don't worry about it, since no personal info is stored, nobody can know if it is you or not!
        </p>
        <p></p>
    </div>
    <div class="col-md-6">
        <p>
            !IMAGE!
        </p>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            !IMAGE!
        </p>
    </div>
    <div class="col-md-6">
        <h2>For Employers</h2>
        <h3>Search, Review, Offer. Simple.</h3>
        <p>
            Simply fill in your search criteria. Our algorithms will match the top candidates for your criteria. You can then view the candidates CV, experience, and some demonstration tests.
            If you are happy with the candidate, simply send the potential employee the job info, with salary, benefits, and role description. That's all there is to it.
        </p>
        <p>Using our weighted algorithms, you can be sure that the best candidates appear on your search, allowing for quick and easy recruitment.</p>
        <p>
            You can review all the details of the candidate, view their education and past experience, as well as looking at some basic tests that they have completed. This dramatically cuts down on time taken and money spent on recruitment.
            Allowing you to get the best possible candidates for the vacancy. 
        </p>
        <p>
            No more time wasters and months spent vetting candidates. By the time you send an offer you can be sure that the candidate can accomplish what you need.
        </p>
        <p>
            Not sure about the tests that the candidate has chosen to display? Simply ask them to complete a short test of your design, you can even add in a time limit. 
        </p>
    </div>

</div>