
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

@*<h2>Message</h2>*@

<div class="row">
    <div class="col-md-12 MessagePageHeader">
        @*<div class="MessagePageHeader">*@
            <label class="MessageBack"><< Messages</label>
            John Smith
        @*</div>*@
    </div>
</div>


<div class="MessageContentList">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 MessageSent">
                <div class="MessageContentSent arrow_boxSent">
                    Hi There!

                    We looked at your profile and think you would make a great fit here at Contoso.

                    Our perks are:
                    Pool table/Tennis table
                    Friday drinks and lunch
                    Early finish on fridays
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 col-md-offset-6 MessageReceived">
                <div class="MessageContentReceived arrow_boxReceived">
                    Hi!

                    That sounds amazing!
                </div>
            </div>
        </div>
    </div>
</div>